span {
    font-weight: bold;
}

a {
    color: #323232;
    text-decoration: none;
}

body {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.PhoneIcon {
    margin: 45px 910px;
    position: absolute;
    transform: scale(1.2);
}

.icons {
    position: absolute;
    transform: scale(1.5);
    margin: 23px 110px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    position: absolute;
    margin: 30px 70px;
    text-transform: uppercase;
    background: linear-gradient(#fab62f, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    position: absolute;
    margin: 100px 80px;
    color: #ffffff;
}

.box {
    position: absolute;
    top: 274px;
    left: 780px;
}

.box2 {
    position: absolute;
    top: 274px;
    left: 0px;
}

.texticon {
    position: absolute;
    transform: scale(0.8);
    top: 275px;
    right: 50px;
}

.seachbox {
    position: absolute;
    transform: scale(1.5);
    top: 240px;
    left: 100px;
}

.seach {
    position: absolute;
    top: 322px;
    left: 130px;
}

.image-button {
    position: absolute; 
    top: 0;
    right: 0px;
    left: 180px;
    width: 16px;
    height: 16px;
    background: #7ba7ab00;
    width: 20px;
    height: 20px;
    border: none;
    background-image: url('icons/arrow.png');
    background-size: cover;
  }

  .lupa {
    position: absolute;
    transform: scale(1.2);
    left: -25px;
    top: 3px;
  }

  .shadowtitle {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    top: -95px;
    color: white;
  }

  .searchtext {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    top: -96px;
    color: #474747;
  }

  .subsearch {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    top: -60px;
    color: #474747;
  }

.advance {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 15px;
    top: 35px;
    color: #474747;   
}

.line-box {
    position: absolute;
    transform: scale(1.5);
    left: 102px;
    top: 530px;
}

.line-subtext {
    position: absolute;
    transform: scale(1.5);
    left: 145px;
    top: 580px;
}

.nav-arrow {
    position: absolute;
    transform: scale(1.5);
    left: 110px;
    top: 560px;
}

.nav-text {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18.2px;
    top: 407px;
    left: 140px;
}

.centerbag {
    position: absolute;
    transform: scale(1.5);
    top: 550px;
    left: 500px;
}

.phone {
    position: absolute;
    transform: scale(1.3);
    top: 450px;
    left: 480px;
}

.productname {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    top: 430px;
    left: 590px;
    color: #1c6ba6;
}

.text1 {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    top: 470px;
    left: 590px;
}

.text2 {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    top: 620px;
    left: 460px;
}

.asiderec {
    position: absolute;
    transform: scale(1.5);
    top: 515px;
    left: 950px;
}

.asidebox {
    position: absolute;
    transform: scale(1.5);
    top: 397px;
    left: 939px;
    z-index: 0;
}

.loginbox {
    position: absolute;
    top: 440px;
    left: 965px;
    z-index: 1;
}

.login {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    left: 965px;
    top: 403px;
    z-index: 1;
    color: #474747;
}

.sublogin {
    position: absolute;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    left: 965px;
    top: 365px;
    z-index: 1;
    color: white;
}

.uplogin {
    position: absolute;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    left: 965px;
    top: 364px;
    z-index: 1;
    color: #474747;
}

.textbox {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    left: 925px;
    top: 575px;
}

.moreinfo {
    position: absolute;
    text-decoration: underline;
    color: rgb(0, 153, 255);
}

.textbox2 {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    left: 925px;
    top: 770px;
}

.moreinfo2 {
    position: absolute;
    text-decoration: underline;
    color: rgb(0, 153, 255);
}

.textbox3 {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    left: 925px;
    top: 963px;
}

.moreinfo3 {
    position: absolute;
    text-decoration: underline;
    color: rgb(0, 153, 255);
}

.subtextbox {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    left: 925px;
    top: 1175px;
    color: #474747;
}